
// Colors for alert types
$default-color: #333;
$default-bg: #f4f4f4;
$default-border: #ddd;

$success-color: #155724;
$success-bg: #d4edda;
$success-border: #c3e6cb;

$error-color: #721c24;
$error-bg: #f8d7da;
$error-border: #f5c6cb;

$warning-color: #856404;
$warning-bg: #fff3cd;
$warning-border: #ffeeba;

$info-color: #0c5460;
$info-bg: #d1ecf1;
$info-border: #bee5eb;

@mixin alert($name, $color, $bg-color, $border-color) {
  .#{$name} {
    border: 2px dotted $border-color;
    padding: 10px;
    background-color: $bg-color;
    color: $color;
    margin: 10px;
    .alertheader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        display: flex;
        align-items: center;
      }
    }
  }
}

@include alert('alert-danger', $error-color, $error-bg, $error-border);
@include alert('alert-success', $success-color, $success-bg, $success-border);
@include alert('alert-warning', $warning-color, $warning-bg, $warning-border);
@include alert('alert-info', $info-color, $info-bg, $info-border);
@include alert('alert-default', $default-color, $default-bg, $default-border);